*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

#light{
  background-color: #5f264a;
  color: #f4eee0;
}

@media (max-width: 600px) {
    .footer{
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        margin-left: 0px;
       
        
    }
  }
